
Fujitsu@DESKTOP-3960TCF MINGW64 /
$ git config --global user.name "Olha"

Fujitsu@DESKTOP-3960TCF MINGW64 /
$ git config --global user.email dp050996zoj@gmail.com

Fujitsu@DESKTOP-3960TCF MINGW64 /
$ cd/Desktop/Homework_Zaitseva
bash: cd/Desktop/Homework_Zaitseva: No such file or directory

Fujitsu@DESKTOP-3960TCF MINGW64 /
$ git init
C:/Program Files/Git/.git: Permission denied

Fujitsu@DESKTOP-3960TCF MINGW64 /
$ dir
LICENSE.txt  ReleaseNotes.html  bin  cmd  dev  etc  git-bash.exe  git-cmd.exe  mingw64  proc  tmp  unins000.dat  unins000.exe  unins000.msg  usr

Fujitsu@DESKTOP-3960TCF MINGW64 /
$ dir
LICENSE.txt  ReleaseNotes.html  bin  cmd  dev  etc  git-bash.exe  git-cmd.exe  mingw64  proc  tmp  unins000.dat  unins000.exe  unins000.msg  usr

Fujitsu@DESKTOP-3960TCF MINGW64 /
$ cd

Fujitsu@DESKTOP-3960TCF MINGW64 ~
$ cd Desktop

Fujitsu@DESKTOP-3960TCF MINGW64 ~/Desktop
$ dir
Git\ and\ Bash       Resume                                 desktop.ini             ~$апи\ моїх\ дій.docx        µTorrent.lnk  Ольга\ -\ Chrome.lnk
GitHub\ Desktop.lnk  Visual\ Studio\ Code.lnk               git-bash\ —\ ярлык.lnk  ~$ллоуін,\ сценарій.docx     МАУП          Створення\ свята
Homework_Zaitseva    columbia_label_1Z4V44379133248334.pdf  ~$аймінг.docx           ~$оектное\ предложение.docx  Месенджери    Тарас

Fujitsu@DESKTOP-3960TCF MINGW64 ~/Desktop
$ cd Homework_Zaitseva

Fujitsu@DESKTOP-3960TCF MINGW64 ~/Desktop/Homework_Zaitseva
$ dir
Homework15  Homework16  Homework20  Homework_Zaitseva

Fujitsu@DESKTOP-3960TCF MINGW64 ~/Desktop/Homework_Zaitseva
$ git init
Initialized empty Git repository in C:/Users/Fujitsu/Desktop/Homework_Zaitseva/.git/

Fujitsu@DESKTOP-3960TCF MINGW64 ~/Desktop/Homework_Zaitseva (master)
$ cd Homework20

Fujitsu@DESKTOP-3960TCF MINGW64 ~/Desktop/Homework_Zaitseva/Homework20 (master)
$ git add index.html

Fujitsu@DESKTOP-3960TCF MINGW64 ~/Desktop/Homework_Zaitseva/Homework20 (master)
$ git copy ^[[200~https://github.com/olhazaec/Homework_Zaitseva.git~
git: 'copy' is not a git command. See 'git --help'.

The most similar commands are
        apply
        clone

Fujitsu@DESKTOP-3960TCF MINGW64 ~/Desktop/Homework_Zaitseva/Homework20 (master)
$ dir
index.html

Fujitsu@DESKTOP-3960TCF MINGW64 ~/Desktop/Homework_Zaitseva/Homework20 (master)
$ cd Homework_Zaitseva
bash: cd: Homework_Zaitseva: No such file or directory

Fujitsu@DESKTOP-3960TCF MINGW64 ~/Desktop/Homework_Zaitseva/Homework20 (master)
$ dit
bash: dit: command not found

Fujitsu@DESKTOP-3960TCF MINGW64 ~/Desktop/Homework_Zaitseva/Homework20 (master)
$ dir
index.html

Fujitsu@DESKTOP-3960TCF MINGW64 ~/Desktop/Homework_Zaitseva/Homework20 (master)
$ cd Desktop/Homework_Zaitseva
bash: cd: Desktop/Homework_Zaitseva: No such file or directory

Fujitsu@DESKTOP-3960TCF MINGW64 ~/Desktop/Homework_Zaitseva/Homework20 (master)
$ cd

Fujitsu@DESKTOP-3960TCF MINGW64 ~
$ cd Desktop/Homework_Zaitseva

Fujitsu@DESKTOP-3960TCF MINGW64 ~/Desktop/Homework_Zaitseva (master)
$ dir
Homework15  Homework16  Homework20  Homework_Zaitseva

Fujitsu@DESKTOP-3960TCF MINGW64 ~/Desktop/Homework_Zaitseva (master)
$ move ~/Desktop/Homework_Zaitseva/Homework15 ~/Desktop/Homework_Zaitseva/Homework_Zaitseva
bash: move: command not found

